*{
  margin:0;
  padding: 0;
}

body{
  font-family:monospace;
}

.background-wrap {

  z-index: -1000;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
}


#video-bg-elem {
  background-size: contain;
  top: 0;
  left: 0;
  min-height:100%;
  min-width: 100%;
  width: 1280px;
  height: 820px;
  z-index: 1000;
}


.content{
  position: absolute;
  width: 100%;
  min-height: 100%;
  z-index: 1000;
  background-color: rgb(0, 0, 0, 0);
}

.content h1 {
  text-align: center;
  font-size: 65px;
  text-transform: capitalize;
  font-weight: 400;
  padding-top: 15%;
  margin-bottom: 10px;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

.content p {
  text-align: center;
  font-size: 20px;
  letter-spacing: 3px;
  color: #aaa;
}
